@media (max-width: 710px) {
    .container {
        height: 80%;
        width: 90%;
    }
    .navlink {
        width: 30%;
        font-size: 14px;
    }
    body {
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
    }
  }